.button {
    padding: 0.6rem 1.2rem;
    background: var(--image-button-background);
    border: 1px solid var(--border-color);
    border-radius: var(--button-border-radius);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.03);
}